<!-- templates/shopee/user_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    
    <p>Username: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    {% if address %}
        <p>Address: {{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.country }} {{ address.zip_code }}</p>
    {% else %}
        <p>No address available.</p>
    {% endif %}

    <a href="{% url 'update_user_info' %}">Edit User Info</a><br>
    <a href="{% url 'add_address' %}">Add/Edit Address</a><br>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
